@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */
*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    margin: auto;
    background-image: linear-gradient(to left, rgba(255,255,255), rgba(255,255,255));
    overflow: hidden;
    padding: .7em;
    border-radius: 1em;

    display: grid;


}
.main_figure{
    background-color: #e69244;
}
.main_img{
    width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
}
h2 {
    text-align: center;
    color:#e69244;
}

.form {
    width: 700px;
    margin: 17rem auto 31.7rem;
    padding: 50px 70px;
    border: 1.5px ;
    background: url("./images/degradado.png") center no-repeat;
    backdrop-filter: blur(3px);
    border-radius: 24px;
    box-shadow: 5px 5px 5rem;
}
.form>div  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.form>div label {
    display: block;
    font-weight: bold;
    font-size: 15px;
}
.form>div input {
    all: unset;
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid rgb(236, 235, 235);
    background: url("./images/degradado.png") center no-repeat;
}

.form button {
    border: none;
    width: 100%;
    padding: 10px 20px;
    background-color: #f0879b;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 auto;
    color: rgb(255, 230, 218);
    cursor: pointer;
}

.form button:hover {
    outline: 1px solid #e69244;
    background-color: #fff;
    color: #e69244;
}
